<style>
    .btn_Feature {
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 6%;
        background-color: #f2f2f2;
        color: black;
        border: 2px solid #555555;
    }

        .btn_Feature a {
            text-decoration: none;
            display: block;
            color:black;
            font-weight:bold;
        }
</style>
<ul class="box_UtilitySite" style="list-style-type:none;">
    <li class="btn_Feature"><a href="~/Admin/NewPost">پست جدید</a></li>
    <li class="btn_Feature"><a href="/Admin/ManagePosts">مدیریت پست ها</a></li>
    <li class="btn_Feature"><a href="/Admin/ManageContacts">مدیریت تماس ها</a></li>
    <li class="btn_Feature"><a href="/Admin/ManageCategory">مدیریت دسته بندی ها</a></li>
    <li class="btn_Feature"><a href="/Admin/Settings">تنظیمات</a></li>
</ul>