<div class="header">
    <ul class="ico_top">
        <li><a href="/Home/LogIn" title="ورود به ناحیه کاربری"><img src="~/Content/img/CatPic/user-login-icon-29.png" alt="ورود به ناحیه کاربری" style="width:32px"></a></li>
        <li>
            <a href="/Home/ContactUs" title="ارتباط با مدیر سایت"><img src="~/Content/img/Contact_us_logo.png" title="ارتباط با مدیر با سایت" style="width:32px" /></a>
        </li>
        <li><a href="/Home/Index" title="خانه"><img src="~/Content/img/home.png"  title="خانه" style="width:32px"></a></li>


    </ul>
    <form action="/Home/Searh" method="get">
        <div class="search">
            <input type="text" name="txtSearch" value="جستجو در آرشیو اخبار ..." onfocus="if(this.value == 'جستجو در آرشیو اخبار ...')this.value=''" onblur="if(this.value == '')this.value='جستجو در سایت ...'">
        </div>
        <div class="search_submit"><button type="submit"></button></div>
    </form>

</div>
