
<ul class="box_UtilitySite" style="list-style-type:none;">
    <li><a href="#">کاااااااااربر</a></li>
    <li><a href="#">مدیریت نظرات</a></li>
    <li><a href="#">مدیریت دسته بندی ها</a></li>
    <li><a href="#">مدیریت کاربران</a></li>
    <li><a href="#">مدیریت تبلیغات</a></li>
    <li><a href="#">تنظیمات</a></li>
</ul>